.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
uploads/
venv/
.venv/
.venvr/
venvr/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
odoo_module/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cove
