<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <table style="padding:50px ;">
        <tr>
          <td>Producto</td>
          <td>Comportamiento venta</td>
          <td>Comportamiento venta - prediccion</td>
        </tr>
        {% for key,value in product.items() %}
        <tr>
            <td>{{key}}</td>
            <td><img src="{{url_for('principal.displayImage',filename=key)}}" width="700" alt="image of post"></td>
            <td><img src="{{url_for('principal.displayImage',filename=value)}}" width="700" alt="image of post"></td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>